@import "variable";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*Products*/

.container_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:    "header header  header"
                            "main   main    main";
    header{
        grid-area: header;
        margin-top: 10px;
        padding: 10px;
        .group_header{
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                font-family: $font_family;
                color: $text_color;
                font-weight: lighter;
                transform: rotate(-90deg);
            }
            .hand_made_img {
                margin: 10px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    border-radius: 10px;
                    width: 100%;
                }
            }
        }
    }
}

.products_main {
    grid-area: main;
    display: flex;
    h2 {
        height: 10px;
        margin: 10px;
        padding: 10px;
        font-weight: lighter;
        font-family: $font_family;
        color: $text_color;
    }
    section {
        article {
            img {
                display: flex;
                margin: 5px;
                padding: 10px;
                width: 100%;
            }
            .h3_text{
                text-align: center;
                h3 {
                    font-family: $font_family;
                    color: $text_color;
                    padding-bottom: 10px;
                    font-size: 13px;
                }
            }
        }
    }
}

.container_cart {
    header {
        grid-area: header;
        h4{
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            padding: 10px;
        }
    }
    main {
        grid-area: main;
        .cart {
            article {
                div {
                    .cart_img {
                        width: 30%;
                    }
                    h3 {
                        font-size: 13px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: black;
                    }
                }
            }
        }
    }
    aside {
        grid-area: aside;
        .aside_payment{
            display: flex;
            flex-direction: column;
            height: 95%;
            justify-content: center;
            .payment_details {
                display: flex;
                flex-direction: column;
                background-color: rgb(195, 195, 195);
                h4 {
                    font-family: Arial, Helvetica, sans-serif;
                    color: black;
                }
                .card{
                    background-color: #3983f3;
                    width: 110%;
                    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 20px;
                    .visa {
                        display: flex;
                        justify-content: end;
                        padding: 35px 25px 10px 5px;
                        img {
                            width: 23%;
                        }
                    }
                    .card_info {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .card_number{
                            width: 100%;
                            .card_text {
                                font-family: Arial, Helvetica, sans-serif;
                                color: rgb(70, 68, 68);
                            }
                        }
                        .card_names {
                            display: flex;
                            width: 100%;
                            .card_text {
                                font-family: Arial, Helvetica, sans-serif;
                                color: rgb(70, 68, 68);
                            }
                        }
                        
                    }
                }
            }
            form {
                button{
                    background-color: rgb(71, 70, 70);
                    border: none;
                    width: 100%;
                    padding: 10px;
                    a {
                        text-decoration: none;
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
    }
}