@import "variable";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Products*/

.container_products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:    "header header"
                            "main   main";
    header{
        grid-area: header;
        margin-top: 60px;
        padding: 10px;
        .group_header{
            display: flex;
            justify-content: center;
            h1 {
                font-family: $font_family;
                color: $text_color;
                font-weight: lighter;
                transform: rotate(-90deg);
                display: block;
            }
            .hand_made_img {
                margin: 10px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    border-radius: 10px;
                    width: 100%;
                }
            }
        }
    }
}

.products_main {
    grid-area: main;
    display: flex;
    padding: 25px;
    h2 {
        position: relative;
        left: 65px;
        top: 45px;
        margin: 10px;
        padding: 10px;
        font-weight: lighter;
        font-family: $font_family;
        color: $text_color;
    }
    section {
        margin: 15px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        justify-content: center;
        article {
            width: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                display: flex;
                margin: 5px;
                padding: 10px;
                width: 400px;
            }
            h3 {
                font-family: $font_family;
                color: $text_color;
                padding-bottom: 10px;
            }
        }
    }
}