* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Products*/
.container_products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "header header  header" "main   main    main";
}
.container_products header {
  grid-area: header;
  margin-top: 10px;
  padding: 10px;
}
.container_products header .group_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_products header .group_header h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: lighter;
  transform: rotate(-90deg);
}
.container_products header .group_header .hand_made_img {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_products header .group_header .hand_made_img img {
  border-radius: 10px;
  width: 100%;
}

.products_main {
  grid-area: main;
  display: flex;
}
.products_main h2 {
  height: 10px;
  margin: 10px;
  padding: 10px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.products_main section article img {
  display: flex;
  margin: 5px;
  padding: 10px;
  width: 100%;
}
.products_main section article .h3_text {
  text-align: center;
}
.products_main section article .h3_text h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-bottom: 10px;
  font-size: 13px;
}

.container_cart header {
  grid-area: header;
}
.container_cart header h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 10px;
}
.container_cart main {
  grid-area: main;
}
.container_cart main .cart article div .cart_img {
  width: 30%;
}
.container_cart main .cart article div h3 {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.container_cart aside {
  grid-area: aside;
}
.container_cart aside .aside_payment {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: center;
}
.container_cart aside .aside_payment .payment_details {
  display: flex;
  flex-direction: column;
  background-color: rgb(195, 195, 195);
}
.container_cart aside .aside_payment .payment_details h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.container_cart aside .aside_payment .payment_details .card {
  background-color: #3983f3;
  width: 110%;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.container_cart aside .aside_payment .payment_details .card .visa {
  display: flex;
  justify-content: end;
  padding: 35px 25px 10px 5px;
}
.container_cart aside .aside_payment .payment_details .card .visa img {
  width: 23%;
}
.container_cart aside .aside_payment .payment_details .card .card_info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container_cart aside .aside_payment .payment_details .card .card_info .card_number {
  width: 100%;
}
.container_cart aside .aside_payment .payment_details .card .card_info .card_number .card_text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70, 68, 68);
}
.container_cart aside .aside_payment .payment_details .card .card_info .card_names {
  display: flex;
  width: 100%;
}
.container_cart aside .aside_payment .payment_details .card .card_info .card_names .card_text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70, 68, 68);
}
.container_cart aside .aside_payment form button {
  background-color: rgb(71, 70, 70);
  border: none;
  width: 100%;
  padding: 10px;
}
.container_cart aside .aside_payment form button a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=style.css.map */